.modal {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    margin: 10px;
    .buttons {
      display: flex;
      justify-content: space-around;
      button {
        flex: 1;
      }
    }
  }
}
